{
  "OPENALGO_API_KEY": "YOUR_OPENALGO_API_KEY_HERE",
  "LOT_SIZE": 65,
  "GAP_THRESH": 30.0,
  "P_TOL": 10.0,
  "SL_PTS": 20.0,
  "ENTRY_CUTOFF": "13:00",
  "EOD_EXIT": "15:20",
  "OPENALGO_HOST": "http://127.0.0.1:5000",
  "PAPER_TRADE": true,
  "TELEGRAM_BOT_TOKEN": "YOUR_TELEGRAM_BOT_TOKEN_HERE",
  "TELEGRAM_CHAT_ID": "YOUR_TELEGRAM_CHAT_ID_HERE"
}
